<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionRepositoryImpl" class="otus.spring.dao.QuestionRepositoryImpl">
        <constructor-arg index="0" value="/questionlist.csv"/>
        <constructor-arg index="1" value=","/>
    </bean>

    <bean id="examinerServiceImpl" class="otus.spring.service.ExaminerServiceImpl">
        <constructor-arg name="questionRepository" ref="questionRepositoryImpl"/>
        <constructor-arg name="fShowAnswer" value="true"/>
    </bean>
</beans>